name: Micro-todoui-k8s-deploy
on: 
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment Name'
        required: true
        options:
          - 'dev'
          - 'qa'
          - 'prod'

permissions:
  contents: read
  id-token: write

jobs:
  Build-and-push-image-acr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-docker-action@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    
    - name: az login using federated credentials
      uses: azure/login@v1
      with:
        client-id: "23604f03-61da-4f4c-a41e-76f2b84f5e09"
        tenant-id: "90d26b91-2a7d-4998-a059-54dd93adebf6"
        subscription-id: "651a708a-a61f-48a6-8006-0d3a0036a680"


    - name: enable agic feature
      run: |
        echo "Selected env: ${{ github.event.inputs.env }}"
        case "${{ github.event.inputs.env }}" in
          dev)
            SUBNET_CIDR="10.2.0.0/24"
            ;;
          qa)
            SUBNET_CIDR="10.3.0.0/24"
            ;;
          prod)
            SUBNET_CIDR="10.4.0.0/24"
            ;;
          *)
            echo "Unknown environment: ${{ github.event.inputs.env }}"; exit 1
            ;;
        esac
        echo "Using subnet CIDR: $SUBNET_CIDR"
        az aks enable-addons \
          --resource-group "${{ github.event.inputs.env }}rg-k8s-infra" \
          --name "${{ github.event.inputs.env }}todo-aks-cluster" \
          --addons ingress-appgw \
          --subnet-cidr "$SUBNET_CIDR"  

    - name: login to ACR
      run: |
        az acr login --name k8acrregistry${{ github.event.inputs.env}}

    - name: Build and Push Image to ACR
      uses: docker/build-push-action@v4
      with:
        context: ./k8_application/MicroTodoUI
        push: true
        tags: k8acrregistry${{ github.event.inputs.env}}.azurecr.io/microtodoui:latest

    # - name: Deploy to Kubernetes Cluster
    #   uses: azure/aks-set-context@v2
    #   with:
    #     resource-group: rg-k8s-infra
    #     cluster-name: todo-aks-cluster

    # - name: kubectl apply microtodoui manifest
    #   uses: Azure/k8s-deploy@v5
    #   with:
    #       action: deploy
    #       manifests: |
    #           ./k8_application/MicroTodoUI/manifest/deployment.yaml
    #           ./k8_application/MicroTodoUI/manifest/service.yaml