name: Micro-todoui-k8s-deploy
on: 
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment Name'
        required: true
        type: choice
        options:
          - 'dev'
          - 'qa'
          - 'prod'

permissions:
  contents: read
  id-token: write

jobs:
  scanning:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: secret scanning
      uses: gitleaks/gitleaks-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    # - name: sonar qube scanning(SAST)
    #   uses: SonarSource/sonarqube-scan-action@master
    #   env:
    #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build_and_push:
    runs-on: ubuntu-latest
    needs: scanning
    steps:
    - name: Set up Docker
      uses: docker/setup-docker-action@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    
    - name: az login using federated credentials
      uses: azure/login@v1
      with:
        client-id: "23604f03-61da-4f4c-a41e-76f2b84f5e09"
        tenant-id: "90d26b91-2a7d-4998-a059-54dd93adebf6"
        subscription-id: "651a708a-a61f-48a6-8006-0d3a0036a680"

    - name: login to ACR
      run: |
        az acr login --name k8acrregistry${{ github.event.inputs.env}}

    # - name: Build and Push Image to ACR
    #   uses: docker/build-push-action@v4
    #   with:
    #     context: ./k8_application/MicroTodoUI
    #     push: true
    #     tags: k8acrregistry${{ github.event.inputs.env}}.azurecr.io/microtodoui:latest

    - name: Build image
      run: |
        docker build -t microtodoui:latest ./k8_application/MicroTodoUI

    - name: trivy scan
      uses: lazy-actions/gitrivy@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        image: microtodoui:latest

    # - name: Deploy to Kubernetes Cluster
    #   uses: azure/aks-set-context@v2
    #   with:
    #     resource-group: rg-k8s-infra
    #     cluster-name: todo-aks-cluster

    # - name: kubectl apply microtodoui manifest
    #   uses: Azure/k8s-deploy@v5
    #   with:
    #       action: deploy
    #       manifests: |
    #           ./k8_application/MicroTodoUI/manifest/deployment.yaml
    #           ./k8_application/MicroTodoUI/manifest/service.yaml